.promo {
    min-height: 680px;
    width: 100%;
    padding-top: 23px;
    background-image: url('../img/promo_bg.jpg');
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        width: 600px;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 400;               
        a {
            display: block;
            color: #ffffff;
            height: 24px;            
            padding-top: 4px; 
            transition: 0.5s all; 
            &:hover {
                color: $main_color;
                border-bottom: 1px solid $main_color;
            }           
        }
        &_item {
            border-right: 1px dotted rgba(255,255,255, 0.4);
            padding-right: 13px;
            &:last-child {
                border: none;
            }    
        }
    }
    &__tel {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: right;
        a {
            display: block;
            color: #ffffff;
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
            text-align: right;
            transition: 0.5s all;
            &:hover {
                text-decoration: underline;
                color: lightgrey;
            }
        }
    }
    &__text {
        margin-top: 9px;
    }
    &__descr {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    &__title {
        margin-top: 26px;
        color: $main_color;
        font-size: 72px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &__subtitle {
        margin-top: 9px;
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    &__divider {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        margin-top: 38px;
        &-line {
            width: 388px;
            height: 2px;
            background-color: #fff;
        }
        &-round {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
        
    }
    &__item {
        img {
            display: block;
            margin: 0 auto;
        }
        &_text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;
            margin-top: 16px;
        }
        &:nth-child(1) {
            margin-top: 15px;
        }
        &:nth-child(3) {
            margin-top: 6px;
        }
        &:nth-child(4) {
            margin-top: 8px;
        }
    }
}